html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #333;
}

span {
font-size: 13px;
font-weight: normal;
line-height: 16px;
}
.sheet-attr-container {
    text-align: center;
    display:inline-block;
}
.sheet-attributes-container {
    width: 60px;
    border: 1px solid #666;
    border-radius: 5px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 19px;
    height: 50px;
    text-align: center;
    display: inline-block;
    vertical-align:top;
}

.sheet-label {
    display: block;
    font-size: 9px;
    line-height: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

.sheet-attr-label {
    font-size:8px;
}
.sheet-attr {
    font-size: 27px;
    line-height: 30px;
    border: none;
    background: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: black;
    width:100%;
    text-align: center;
    display: inline-block;
}

.sheet-subtitle {
    font-size:15px;
    text-align: left;
    margin-bottom:10px;
    margin-top:10px;
}

.sheet-skill-box {
    text-align:left;
    font-size: 8px;
}


.sheet-rolltemplate-ou  table, .sheet-rolltemplate-dice-roll table {
    width: 180px;
    height: 150px;
    padding: 5px;
    background: url(http://i.imgur.com/xBk4U1p.jpg) top left;
    background-size: 180px 150px;
    background-repeat: no-repeat;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    border-spacing: 0;
}
 
.sheet-rolltemplate-ou th, .sheet-rolltemplate-dice-roll th {
	color: black;
    padding: 15px 2px 2px 20px;
	line-height: 1.2em;
	font-size: 1em;
    text-align: left;
}
 
 
.sheet-rolltemplate-ou td, .sheet-rolltemplate-dice-roll td {
    padding-left: 20px;
    font-size: 1.0em;
    vertical-align: top;
}
 
.sheet-rolltemplate-ou .sheet-result, .sheet-rolltemplate-dice-roll .sheet-result {
    font-size: 1em;
    text-align: center;
    padding-bottom: 20px;
}
 
.sheet-skill-box button[type="roll"], .sheet-dice-container button[type="roll"] {
background-color: transparent;
color: black;
border: none;
font-size: 12px;
line-height: 12px;
background-image: none;
text-shadow: none;
box-shadow: none;
padding: 0px;
margin: 0px;
font-weight: bold;   
}

.sheet-dice {
    height:16px;
    width:16px;
    display:inline-block;
    border: 2px solid black;
    vertical-align: middle;
    border-radius:2px;
}

.sheet-dice-container button[type="roll"]:hover {
    height:17px;
    width:17px;
}
.sheet-difficulty {
    background-color: black;
    border:2px solid gray;
}

.sheet-depletion {
    background-color: white;
    border:2px solid gray;
}

.sheet-speed {
    background-color: #3366ff;
}

.sheet-damage {
    background-color: red;
}

button[type="roll"] span {
    color:#A0A0A0;
    margin:5px;
}

button[type="roll"]:before {
    content: ""!important;
}

.sheet-skill-box button[type="roll"]:hover {
    color:red;
}

.sheet-dice-container span {
    text-align:right;
}

.sheet-dice-section {
    padding-right: 20px;
}

.sheet-resource-section {
    padding-right:10px;
}

input[type="number"] {
    border:none;
    background:transparent;
    text-shadow:none;
    box-shadow:none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    vertical-align:middle;
}

.sheet-resource {
    font-size: 18px;
    text-align:right;
    display:inline-block;
    width:200px;
}

.sheet-resource-section input[type="number"] {
    font-size:18px;
    width:40px;
    float:right;
}
.sheet-resource-container {
    height:30px;
}
.sheet-dos-dof[value="1"] ~ .sheet-failure,
.sheet-dos-dof[value="0"] ~ .sheet-success {
    display:none;
}
