.sheet-skills-container .sheet-options input[type=number]::-webkit-inner-spin-button,
.sheet-skills-container .sheet-options input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}

.sheet-option-toggle:hover +span {
    display:inline-block;
}

.sheet-display-toggle:hover ~ .sheet-option-toggle + span {
    display:inline-block;
}
.sheet-display-toggle:hover + div {
    color:black;
}

.sheet-trait-template {
    display:none;
    text-align:left;
    margin-top:5px;
    width:100%;
}

[data-groupname=repeating_traits] input[value="[ABILITY]"] ~ .sheet-ability-display,
[data-groupname=repeating_traits] input[value="[ABILITY]"] ~ .sheet-ability-option,
[data-groupname=repeating_traits] input[value="[PARADIGM]"] ~ .sheet-paradigm-display,
[data-groupname=repeating_traits] input[value="[PARADIGM]"] ~ .sheet-paradigm-option,
[data-groupname=repeating_traits] input[value="[DISADVANTAGE]"] ~ .sheet-disadvantage-display,
[data-groupname=repeating_traits] input[value="[DISADVANTAGE]"] ~ .sheet-disadvantage-option {
    display:inline-block;
}
.repcontrol .btn {
    /*visibility: hidden;*/
    border: medium none;
    color: white !important;
    background: none;
    box-shadow: none;
}
input[type=checkbox] {
    position:absolute;
    height:36px;
    top:0px;
    z-index:998;
}

.sheet-skills-container .sheet-options input[type=number] {
    font-size:12px;
    width:20px;
    -moz-appearance:textfield;
}

.sheet-injury-container input[type=checkbox],
.sheet-skills-container .sheet-options input[type=checkbox],
.sheet-skills-container .sheet-collapsible input[type=checkbox] {
    position:relative;
    height:auto;
}
[data-groupname=repeating_traits] input[type=checkbox] {
    position:absolute;
    height:25px;
    top:0px;
}

.repcontrol .btn:focus {
    outline: 0;
}
.repcontainer .repitem .itemcontrol .repcontrol_del {
    position: absolute;
    right:50px;
    top:2px;
    padding:0px;
    font-size:18px;
    z-index:999;
    box-shadow:none;
    background:transparent;
    color:#ff3232;
    border:none;

}
.repcontainer .repitem .itemcontrol .repcontrol_move {
    position: absolute;
    right:80px;
    top:2px;
    padding:0px;
    background:transparent;
    box-shadow:none;
    border:none;
    font-size:20px;
    z-index:999;
}

.repcontrol .repcontrol_edit:after {
    content: '(';
    visibility: visible;
    font-family: pictos;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 12px;
    height: 12px;
    width: 12px;
    padding: 2px 4px 2px 4px;
    color: black;
}

.editmode ~ .repcontrol .repcontrol_edit:after {
    content: ')';
}

.repcontrol .repcontrol_add:before {
    content: '&';
    visibility: visible;
    font-family: pictos;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 12px;
    height: 12px;
    width: 12px;
    padding: 2px 4px 2px 4px;
    color: black;
}
.repcontrol .repcontrol_edit:hover:after,
.repcontrol .repcontrol_add:hover:before
{
    background-color: #EFEFEF;
}
.repcontrol .repcontrol_add {
    float:left;
}
.repcontrol .repcontrol_edit {
    float:right;
}
.repcontrol {
    min-height:30px;
}



span {
font-size: 13px;
font-weight: normal;
line-height: 16px;
}
.sheet-attr-container {
    text-align: center;
    display:inline-block;
}
.sheet-attributes-container {
    width: 70px;
    border: 1px solid #666;
    border-radius: 5px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 8px;
    height: 50px;
    text-align: center;
    display: inline-block;
    vertical-align:top;
}

.sheet-label {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    width: auto;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    text-overflow: ellipsis;
}

.sheet-attr-label {
    font-size:9px;
}
.sheet-attr {
    font-size: 27px;
    line-height: 30px;
    border: none;
    background: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: black;
    width:100%;
    text-align: center;
    display: inline-block;
}

.sheet-subtitle {
    font-size:15px;
    text-align: left;
    margin-bottom:10px;
    margin-top:10px;
}


.sheet-skill-box {
    text-align:left;
    font-size: 8px;
}


.sheet-rolltemplate-ou  table, .sheet-rolltemplate-dice-roll table {
    width: 190px;
    height: 150px;
    padding: 5px;
    background: url(http://i.imgur.com/xBk4U1p.jpg) top left;
    background-size: 190px 150px;
    background-repeat: no-repeat;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    border-spacing: 0;
}
 
.sheet-rolltemplate-ou th, .sheet-rolltemplate-dice-roll th {
	color: black;
    padding: 15px 2px 2px 20px;
	line-height: 1.2em;
	font-size: 1em;
    text-align: left;
}
 
 
.sheet-rolltemplate-ou td, .sheet-rolltemplate-dice-roll td {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.0em;
    vertical-align: top;
    word-wrap: break-word;
}
 
.sheet-rolltemplate-ou .sheet-result, .sheet-rolltemplate-dice-roll .sheet-result {
    font-size: 1em;
    text-align: center;
    padding-bottom: 10px;
}

.sheet-rolltemplate-dice-roll .sheet-result {
    line-height:20px;
    font-size:12px;
}
 
[data-groupname=repeating_traits] button[type=roll], .sheet-skill-box button[type=roll], .sheet-dice-container button[type=roll] {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 12px;
    line-height: 12px;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    font-weight: bold;   
}

.sheet-dice {
    height:16px;
    width:16px;
    display:inline-block;
    border: 2px solid black;
    vertical-align: middle;
    border-radius:2px;
}

.sheet-difficulty {
    background-color: black;
    border:2px solid gray;
}

.sheet-depletion {
    background-color: white;
    border:2px solid gray;
}

.sheet-speed {
    background-color: #3366ff;
}

.sheet-damage {
    background-color: red;
}

button[type=roll] span {
    color:#A0A0A0;
    margin:5px;
}

button[type="roll"]:before {
    content: ""!important;
}

[data-groupname=repeating_traits] button[type=roll]:hover, .sheet-skill-box button[type=roll]:hover {
    color:red;
}

.sheet-dice-container span {
    text-align:right;
}
.sheet-dice-container {
    text-align:right;
}


.sheet-resource-section {
}

input[type=number] {
    border:none;
    background:transparent;
    text-shadow:none;
    box-shadow:none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    vertical-align:middle;
}

.sheet-resource {
    font-size: 12px;
    text-align:right;
    display:inline-block;
    width:auto;
}

.sheet-resource-section input[type=number] {
    font-size:12px;
    width:50px;
    float:right;
}

.sheet-resource-section img {
    height:18px;
}
.sheet-resource-container {
    height:30px;
    display:block;
    width:auto;
}

.sheet-traits-section input[type=text],
.sheet-health input[type=text] {
    width:auto;
    border:none;
    border-bottom:1px solid black;
    box-shadow: none;
    text-shadow:none;
    background:transparent;
    border-radius:0px;
}

.sheet-injury-container input[type=number] {
    display:inline-block;
}

.sheet-injury-container {
    text-align:right;
    display:block;
}

.sheet-display-toggle {
    opacity:0;    
    left: 0px;
    width: 100%;
    height: 36px;
}
.sheet-option-toggle + span {
    position: absolute;
    top: 8px;
    right: 2px;
    white-space: nowrap;
    width: 25px;
    height: 36px;
    font-size: 25px;
    font-family: pictos;
    color: black;
    cursor: pointer;
    margin-top: 0px;
    display:none;
}
[data-groupname=repeating_traits] .sheet-option-toggle + span {
    font-size:20px;
    top:3px;
    right:2px;
    height:25px;
}
[data-groupname=repeating_traits] .sheet-option-toggle {
    z-index:2;
}
[data-groupname=repeating_traits] .sheet-display-toggle {
    z-index:1;
}



.sheet-option-toggle {
    opacity: 0;
    right: 2px;
    width: 25px;
    height: 25px;
}


[data-groupname=repeating_traits] .sheet-display-toggle:checked ~ .sheet-collapsible,
[data-groupname=repeating_traits] .sheet-option-toggle:not(:checked) ~ .sheet-collapsible,
.sheet-notes-section .sheet-display-toggle:checked ~ .sheet-collapsible,
.sheet-traits-section .sheet-display-toggle:checked ~ .sheet-collapsible,
.sheet-inventory-section .sheet-display-toggle:checked ~ .sheet-collapsible,
.sheet-miscellaneous .sheet-display-toggle:checked ~ .sheet-collapsible,
.sheet-resources .sheet-display-toggle:checked ~ .sheet-collapsible,
.sheet-skills .sheet-display-toggle:checked ~ .sheet-collapsible,
.sheet-skills .sheet-option-toggle:not(:checked) ~ .sheet-collapsible,
.sheet-health .sheet-display-toggle:checked ~ .sheet-collapsible,
.sheet-dice-section .sheet-display-toggle:checked ~ .sheet-collapsible,
.sheet-defence .sheet-option-toggle:not(:checked) ~ .sheet-collapsible,
.sheet-defence .sheet-display-toggle:checked ~ .sheet-collapsible {
    display:none;
}


[data-groupname=repeating_traits] .sheet-option-toggle:checked ~ .sheet-options,
.sheet-skills .sheet-option-toggle:checked ~ .sheet-options,
.sheet-defence .sheet-option-toggle:checked ~ .sheet-options,
.sheet-resources .sheet-option-toggle:checked ~ .sheet-options {
    display:none;
}

.sheet-toggle-container {
    background-color: #DCDCDC;
    color: #808080;
    text-align:left;
    height:36px;
    padding-left:10px;
}

.sheet-traits-section .sheet-collapsible .sheet-toggle-container {
    height:25px;
}
.repeating_traits,
.sheet-notes-section,
.sheet-traits-section, 
.sheet-skills-container, 
.sheet-inventory-section, 
.sheet-miscellaneous, 
.sheet-resources, 
.sheet-health, 
.sheet-defence, 
.sheet-dice-section{
    position:relative;
    margin-bottom: 5px;
}

.sheet-defence-label {
    font-size:15px;
    display:inline-block;
    font-weight: bold;
}

.sheet-options , .sheet-collapsible {
    border:1px solid #DCDCDC;
    padding:10px;
    height:auto;
    text-align:right;
}


.sheet-defence-container {
    text-align:right;
    display:block;
    height:28px;
    width:auto;
}


.sheet-defence-container input[type=number] {
    font-size:12px;
}
.sheet-supported {
    font-family:pictos;
    color: green;
}
.sheet-skill-box input[value="0"] ~ .sheet-supported {
    display:none;
}

.sheet-dropdown {
    background:transparent;
    border:none;
    border-radius:0px;
    border-bottom:1px solid black;
    width:auto;
    font-size:12px;
}

.sheet-2colrow {
    text-align:left;
}

.sheet-gestalt {
    border:2px solid gray;
    margin-bottom:10px;
    background-color:green;
}

.sheet-miscellaneous .sheet-skill-box {
    text-align:right;
}

textarea {
    width:98%;
    max-width:98%;
    min-width:98%;
    box-shadow:none;
    word-wrap:break-word;
    border-radius:0px;
}

.sheet-name {
    font-size: 12px;
    position:absolute;
    top:2px;
    left:10px;
}
.sheet-sublabel {
    font-size: 10px;
    position:absolute;
    top:2px;
    left:30%;
}
.sheet-traits-section .sheet-collapsible, .sheet-traits-section .sheet-options {
    padding:0px;
}
[data-groupname=repeating_traits] {
    margin-top: 5px;
}
[data-groupname=repeating_traits] .sheet-collapsible, [data-groupname=repeating_traits] .sheet-options {
    padding:5px;
    border-left:0px;
    border-right:0px;
}

.sheet-description {
    text-align: left;
    font-weight: normal;
    line-height:12px;
}

