html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #333;
}

span {
font-size: 13px;
font-weight: normal;
line-height: 16px;
}
.sheet-attr-container {
    text-align: center;
}
.sheet-attributes-container {
    width: 70px;
    border: 1px solid #666;
    border-radius: 5px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 19px;
    height: 64px;
    text-align: center;
    display: inline-block;
}

.sheet-label {
    display: block;
    font-size: 12px;
    line-height: 12px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

.sheet-attr-label {
    font-size:9px;
}
.sheet-attr {
    font-size: 30px;
    line-height: 40px;
    border: none;
    background: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: black;
    width:100%;
    text-align: center;
}

.sheet-title {
    font-size:20px;
    margin: 10px;
}

.sheet-subtitle {
    font-size:15px;
    margin: 5px;
}

.sheet-skill-box {
    text-align:left;
    font-size: 8px;
}


.sheet-rolltemplate-ou table {
    width: 189px;
    height: 150px;
    padding: 5px;
    background: url(http://i.imgur.com/xBk4U1p.jpg) top left;
    background-size: 189px 150px;
    background-repeat: no-repeat;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    border-spacing: 0;
}
 
.sheet-rolltemplate-ou th {
	color: black;
    padding: 15px 2px 2px 20px;
	line-height: 1.2em;
	font-size: 1em;
    text-align: left;
}
 
 
.sheet-rolltemplate-ou td {
    padding-left: 20px;
    font-size: 1.0em;
    vertical-align: top;
}
 
.sheet-rolltemplate-ou .sheet-result {
    font-size: 1em;
    text-align: center;
    padding-bottom: 20px;
}
 
.sheet-skill-box button[type="roll"] {
 background-color: transparent;
color: black;
border: none;
font-size: 12px;
line-height: 12px;
background-image: none;
text-shadow: none;
box-shadow: none;
padding: 0px;
margin: 0px;
font-weight: bold;   
}
button[type="roll"] span {
    color:#A0A0A0;
    margin:5px;
}

button[type="roll"]:before {
    content: ""!important;
}
